/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    background: #FF7F00; /
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px; 
    width: 90%; 
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 1.5rem; 
}

.form {
    padding: 0; 
}

.form header {
    font-size: 1.6rem; 
    font-weight: 500;
    text-align: center;
    margin-bottom: 0.8rem;  
    color: #FF7F00; 
}

.login-image {
    display: block;
    margin: 0 auto 1rem; 
    max-width: 50%; 
    height: auto; 
}

.form input {
    height: 50px; 
    width: 100%;
    padding: 0 10px; 
    font-size: 16px; 
    margin-bottom: 1rem; 
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}

.form input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form a {
    font-size: 14px; 
    color: #FF7F00; 
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

/* Styling untuk tombol Login dan Register */
.button {
    color: #fff;
    background: #FFA500; 
    font-size: 1rem; 
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1rem; 
    cursor: pointer;
    transition: background-color 0.4s, transform 0.2s;
    height: 50px; 
    border: none; 
    border-radius: 6px; 
    width: 100%; 
}

.button:hover {
    background: #FF7F00; 
    transform: scale(1.05); 
}

.signup {
    font-size: 15px; 
    text-align: center;
}

.signup label {
    color: #FF7F00; 
    cursor: pointer;
}

.signup label:hover {
    text-decoration: underline;
}

.input-error {
    color: red; 
    font-size: 14px; 
    margin-top: 0.2rem; 
}

.status-message {
    color: green; 
    margin-bottom: 1rem; 
    text-align: center; 
}
